/* Reset básico */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    color: #333;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 3px solid #0056b3; /* Azul Andes Travel */
    margin-bottom: 30px;
}

header h1 {
    color: #0056b3;
    margin: 0;
}

/* Estilos del Formulario */
.formulario-box {
    background-color: #e9f5ff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #cfe2ff;
}

.grupo-input {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745; /* Verde éxito */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Estilos de la Lista */
ul {
    list-style: none; /* Quita los puntos negros */
    padding: 0;
}

/* Esta clase la usa el JavaScript */
.tarjeta-producto {
    background-color: white;
    border-left: 5px solid #0056b3; /* Borde azul a la izquierda */
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /* Separa texto del precio */
    align-items: center;
}

.info h3 {
    margin: 0 0 5px 0;
    color: #333;
}

.precio-tag {
    background-color: #0056b3;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}